name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Login to registry
      uses: docker/login-action@v3
      with:
        registry: registry.mytracker.pt
        username: "${{ secrets.HARBOR_USERNAME }}"
        password: "${{ secrets.HARBOR_PASSWORD }}"
    - name: Build the Docker image
      working-directory: vehicle-tracker-backend/ingestion-service/container
      run: ./buildContainer.sh
