name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Login to registry
      uses: docker/login-action@v3
      with:
        registry: "${{ secrets.HARBOR_URL }}"
        username: "${{ secrets.HARBOR_USERNAME }}"
        password: "${{ secrets.HARBOR_PASSWORD }}"
    - name: Push ingestion-service image
      working-directory: vehicle-tracker-backend/ingestion-service/container
      run: ./buildContainer.sh
    - name: Push processing-service image
      working-directory: vehicle-tracker-backend/processing-service/container
      run: ./buildContainer.sh
    - name: Push vehicle-service image
      working-directory: vehicle-tracker-backend/vehicle-service/container
      run: ./buildContainer.sh
